CustomerData/RTN Customer Record Data Spec Files/openapi/RTN_Resources_CustomerData_CustomerDataResource/v2_0_0/RTN_Common_2_0_0_Trim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.modeldev.restauranttechnologynetwork.com/models/v2"
    version="2.0.0"
    xmlns:ms-0200="http://www.modeldev.restauranttechnologynetwork.com/models/v2"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:annotation>
        <xsd:appinfo>
            <otm:Library>
                <otm:LibraryName>RTN_Common</otm:LibraryName>
                <otm:LibraryVersion>2.0.0</otm:LibraryVersion>
                <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                <otm:SourceFile>/RTN_Common_2_0_0.otm</otm:SourceFile>
                <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                <otm:CompileDate>2022-10-11T09:49:28.357-04:00</otm:CompileDate>
            </otm:Library>
        </xsd:appinfo>
    </xsd:annotation>
    
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v0" schemaLocation="built-ins/OTM_BuiltIns.xsd"/>
    <xsd:import
        namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
    <xsd:include schemaLocation="RTN_Codelist_2_0_0_Trim.xsd"/>
    
    <xsd:element abstract="true" name="TimeSpanSubGrp" type="ms-0200:TimeSpan">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies a time span by intdicating the start and end dates/times.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">TimeSpan</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TimeSpan"
        substitutionGroup="ms-0200:TimeSpanSubGrp" type="ms-0200:TimeSpan"/>
    <xsd:element name="TimeSpanSummary" type="ms-0200:TimeSpan"/>
    
    <xsd:element abstract="true" name="EffectivitySubGrp" type="ms-0200:TimeSpan">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies a time span by intdicating the start and end dates/times.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">TimeSpan</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Effectivity"
        substitutionGroup="ms-0200:EffectivitySubGrp" type="ms-0200:TimeSpan"/>
    <xsd:element name="EffectivitySummary" type="ms-0200:TimeSpan"/>
    
    <xsd:complexType name="TimeSpan">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">TimeSpan</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="7" minOccurs="0" name="DaysOfWeek" type="ms-0200:DaysOfWeek_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the days of week.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="startDate" type="xsd:dateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Specifies the start date/time.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="endDate" type="xsd:dateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Specifies the end date/time.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:simpleType name="GUID">
        <xsd:annotation>
            <xsd:documentation source="Description">A globally unique ID for an object.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="Simple">GUID</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="128"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:element abstract="true" name="LocationSubGrp" type="ms-0200:Location_ID">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies details for a store or location.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Location</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationID"
        substitutionGroup="ms-0200:LocationSubGrp" type="ms-0200:Location_ID"/>
    <xsd:element name="LocationIdentifier" type="ms-0200:Location_ID"/>
    <xsd:element name="Location"
        substitutionGroup="ms-0200:LocationSubGrp" type="ms-0200:Location"/>
    <xsd:element name="LocationSummary" type="ms-0200:Location"/>
    <xsd:element name="LocationDetail"
        substitutionGroup="ms-0200:LocationSubGrp" type="ms-0200:Location_Detail"/>
    
    <xsd:complexType name="Location_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Location</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="LocationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">A unique global identifier for the location.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Location">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Location</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ms-0200:Location_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="URI" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The URI for the location.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ms-0200:Address">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the physical location of the entity.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ms-0200:Position">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Used to specify the geographic coordinates of a location.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="LocationStatus" type="ms-0200:Status_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifes whether a location is open, temporarily closed or permanently closed.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:OperationSchedule">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the hours the location is open for business.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="Description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="Description">A description of the location (e.g. store , ghost kitchen).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:ChannelEffectivity">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the the availability (days, and hours) as well as the channels (e.g. Delivery, Curbside, Take-out). for which the availability applies.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ms-0200:Phone">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Phone number associated with the location.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0"
                        name="PreferredStoreDescription" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Describes the context of the preferred store, such as for work, or for multibrand conglomerates, or aggregators.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ms-0200:Privacy">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Provides information as to the person&amp;apos;s preference for sharing information.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:CommunicationMethod">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Provides details for a specific form of communication.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0"
                        name="PreferredOrderChannel" type="ms-0200:OrderChannel_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">A favorite channel for placing orders for this store.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ms-0200:TermsAndConditions">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Code of conduct for the guest upon entering a restaurant (masks, no pics, ect.)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
                <xsd:attribute name="preferredStoreIndicatorInd"
                    type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">When true, this store is a favorite.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Location_Detail">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Location</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ms-0200:Location">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="OpenDate" type="xsd:dateTime">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the date the restaurant is to open.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="ClosedDate" type="xsd:dateTime">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the date a location is to close.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Detail"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="Address" type="ms-0200:Address"/>
    
    <xsd:complexType name="Address">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the physical location of an entity.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Address</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="StreetAddress" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The street number and street name.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="CityName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The name of the city in which the entitiy is located.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PostalCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the zip code for the entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Country" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the country in which the entity is located.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="CountryCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">ISO 3166 code for a country.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="StateOrTerritory" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the state, territory or province in which the entity is located,</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="AddressType" type="ms-0200:AddressType_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the type of address (e.g. home, business).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="OperationSchedule" type="ms-0200:OperationSchedule"/>
    
    <xsd:complexType name="OperationSchedule">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the days and times of operation.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">OperationSchedule</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:TimeSpanSummary">
                <xsd:annotation>
                    <xsd:documentation source="Description">The days and times a location is open for business.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="Position" type="ms-0200:Position"/>
    
    <xsd:complexType name="Position">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the geographic position of the entity.  This position element uses the ISO 6709 standard.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Position</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Latitude" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The measure of the angular distance on the meridean north or south of the equator.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Longitude" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The measure of the angular distance on the meridian east or west of the prime meridian.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="ChannelEffectivity" type="ms-0200:ChannelEffectivity"/>
    
    <xsd:complexType name="ChannelEffectivity">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies availability for specific channels (e.g. curbside, take-out, delivery).</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">ChannelEffectivity</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0"
                name="Channel" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the channel for which the availabilty applies (e.g Curbside, Delivery, Take-out).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ms-0200:EffectivitySummary">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the days of week and times that apply to the availability.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="Phone" type="ms-0200:Phone"/>
    
    <xsd:complexType name="Phone">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies telephone information.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Phone</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="1" name="PhoneNumber" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The telephone number.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Type" type="ms-0200:PhoneType_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">The phone number type (e.g. business, mobile).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0"
                name="Capabilities" type="ms-0200:PhoneCapabilities_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the functionalities of the phone.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="primaryInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, this is the main phone number for the person.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="PersonName" type="ms-0200:PersonName"/>
    
    <xsd:complexType name="PersonName">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the name of a person (e.g. customer, employee).</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">PersonName</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="First" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The first name or given name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Last" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The surname of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Middle" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The middle name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Prefix" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Salutation for the person (e.g. Mr., Mrs., Ms., Dr., etc.)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Suffix" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">A suffix related to the name (e.g. Jr., Sr., III, Esq., etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="NameType" type="ms-0200:NameType_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the type of name for the person (e.g. former, nickname, alternate, alias, etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Title" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies degrees or honors of the person (e.g. M.D., Ph.D., etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="LastNamePrefix" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the last name prefix (e.g. &amp;quot;Van der&amp;quot;, &amp;quot;von&amp;quot;, &amp;quot;de&amp;quot;, etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="language" type="xsd:language" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The language in which the name is represented.</xsd:documentation>
                <xsd:appinfo>
                    <otm:Example context="Example">en-us</otm:Example>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="primaryInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, this is the default or primary name for the person.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element abstract="true" name="PersonSubGrp" type="ms-0200:Person">
        <xsd:annotation>
            <xsd:documentation source="Description">Details about a person.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Person</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Person" substitutionGroup="ms-0200:PersonSubGrp" type="ms-0200:Person"/>
    <xsd:element name="PersonSummary" type="ms-0200:Person"/>
    <xsd:element name="PersonDetail"
        substitutionGroup="ms-0200:PersonSubGrp" type="ms-0200:Person_Detail"/>
    
    <xsd:element abstract="true" name="ContactSubGrp" type="ms-0200:Person">
        <xsd:annotation>
            <xsd:documentation source="Description">Details about a person.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Person</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Contact"
        substitutionGroup="ms-0200:ContactSubGrp" type="ms-0200:Person"/>
    <xsd:element name="ContactSummary" type="ms-0200:Person"/>
    <xsd:element name="ContactDetail"
        substitutionGroup="ms-0200:ContactSubGrp" type="ms-0200:Person_Detail"/>
    
    <xsd:complexType name="Person">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Person</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:PersonName">
                <xsd:annotation>
                    <xsd:documentation source="Description">The name of the person.  This may include given name, surname, etc..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:Email">
                <xsd:annotation>
                    <xsd:documentation source="Description">Email address details for the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:Phone">
                <xsd:annotation>
                    <xsd:documentation source="Description">Phone details associated with this person.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:Address">
                <xsd:annotation>
                    <xsd:documentation source="Description">Addresses associated with this person.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:SocialMedia">
                <xsd:annotation>
                    <xsd:documentation source="Description">Social media details for the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:CommunicationMethod">
                <xsd:annotation>
                    <xsd:documentation source="Description">Identifies communications methods preferred by the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:Verification">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies information for the person that has been previously verified.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:ThirdPartySystemSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">Provides information related to the person in a third party system.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Gender" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The gender for the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PreferredPronoun" type="ms-0200:Pronoun_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">The person&amp;apos;s preferred pronoun.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:CompanySubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">A company that the person is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:SignificantDate">
                <xsd:annotation>
                    <xsd:documentation source="Description">Speifies dates that are of importance to the person .</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="birthday" type="xsd:date" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The date of birth.</xsd:documentation>
                <xsd:appinfo>
                    <otm:Example context="Example">2000-11-30</otm:Example>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="Person_Detail">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Person</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ms-0200:Person">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="Description">A description associated with the person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Detail"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="Email" type="ms-0200:Email"/>
    
    <xsd:complexType name="Email">
        <xsd:annotation>
            <xsd:documentation source="Description">Email address information.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Email</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="1" name="EmailAddress" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">An email address.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="EmailType" type="ms-0200:AddressType_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the type of email (e.g. Business, Personal).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="primaryInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, this is the primary email address for the person.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="SocialMedia" type="ms-0200:SocialMedia"/>
    
    <xsd:complexType name="SocialMedia">
        <xsd:annotation>
            <xsd:documentation source="Description">SocialMedia</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">SocialMedia</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="URL" type="xsd:anyURI">
                <xsd:annotation>
                    <xsd:documentation source="Description">The URL for the social media platform.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="Platform" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The name of the social media platform.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="Handle" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The person&amp;apos;s handle for the social media platform.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="UserName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The user name for the person on the social media platform.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="CommunicationMethod" type="ms-0200:CommunicationMethod"/>
    
    <xsd:complexType name="CommunicationMethod">
        <xsd:annotation>
            <xsd:documentation source="Description">Provides details for a specific form of communication.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">CommunicationMethod</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="CommunicationMethod" type="ms-0200:CommunicationMethod_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">A type of communication used by the individual.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PreferredLanguage" type="xsd:language">
                <xsd:annotation>
                    <xsd:documentation source="Description">The  preferred language for communications.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="primaryInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, this is the primary method for communication for this individual.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element abstract="true" name="ThirdPartySystemSubGrp" type="ms-0200:ThirdPartySystem_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">ThirdPartySystem</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ThirdPartySystemID"
        substitutionGroup="ms-0200:ThirdPartySystemSubGrp" type="ms-0200:ThirdPartySystem_ID"/>
    <xsd:element name="ThirdPartySystemIdentifier" type="ms-0200:ThirdPartySystem_ID"/>
    <xsd:element name="ThirdPartySystem"
        substitutionGroup="ms-0200:ThirdPartySystemSubGrp" type="ms-0200:ThirdPartySystem"/>
    <xsd:element name="ThirdPartySystemSummary" type="ms-0200:ThirdPartySystem"/>
    
    <xsd:complexType name="ThirdPartySystem_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">ThirdPartySystem</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="1" name="ThirdPartySystemID" type="ms-0200:GUID">
                <xsd:annotation>
                    <xsd:documentation source="Description">A globally unique identifier for a third party system.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ThirdPartySystem">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">ThirdPartySystem</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ms-0200:ThirdPartySystem_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="1" name="Type" type="ms-0200:ThirdPartySystemType_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">A classification for the type of third party system.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="SystemName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The name of the third party system.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="CustomerID" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="Description">An ID for the customer within the third party system.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="ProgramID" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="Description">An identifier for the program (birthday club, new guest club, tier within a loyalty system, etc.)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:simpleType name="YesNoInherit_Enum">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationClosed">YesNoInherit_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
            <xsd:enumeration value="Inherit"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:element name="TermsAndConditions" type="ms-0200:TermsAndConditions"/>
    
    <xsd:complexType name="TermsAndConditions">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">TermsAndConditions</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="1" name="IssuerID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">An identifier for the issuer of the terms and conditions.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="IssuerDescription" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The name or description for the issuer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="Description" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">A description of the terms and conditions.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="DateTime" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation source="Description">The date and time that the customer reviewed the terms and conditions.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="acceptanceInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, the customer as agreed to the terms and conditions.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="Verification" type="ms-0200:Verification"/>
    
    <xsd:complexType name="Verification">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies information for the person that has been previously verified.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Verification</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="1" name="VerificationCategory" type="ms-0200:VerificationCategory_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the type of verification that has been performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="VerificationType" type="ms-0200:VerificationType_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Identifies the type of document used for verification.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="VerifiedBy" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Identifies a person who verified the ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="VerificationSystem" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Identifies the verification system.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Description" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">A name or description for the verification system.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="VerifiedInd" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation source="Description">When true, this verification category has been verified.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="Brand" type="ms-0200:Brand"/>
    
    <xsd:complexType name="Brand">
        <xsd:annotation>
            <xsd:documentation source="Description">A group of restaurants belonging to the same company.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Brand</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="BrandName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The brand name for the group of restaurants (i.e. McDonalds, Panera, etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="BrandID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">An identifer for the brand.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PreferredBrandDescription" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Describes the context of the preferred brand, such as for work, or for multibrand conglomerates, or aggregators.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:LocationSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">Provides details for a specific store.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ms-0200:Privacy">
                <xsd:annotation>
                    <xsd:documentation source="Description">Provides information as to the person&amp;apos;s preference for sharing information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ms-0200:CommunicationMethod">
                <xsd:annotation>
                    <xsd:documentation source="Description">Provides details for a specific form of communication.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:TermsAndConditions">
                <xsd:annotation>
                    <xsd:documentation source="Description">Code of conduct for the guest upon entering a restaurant (masks, no pics, ect.)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0"
                name="PreferredOrderChannel" type="ms-0200:OrderChannel_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">A favorite channel for placing orders for this brand.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="BrandDescription" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Provides descriptive information about the brand.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="preferredBrandInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, this is a favorite brand.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="Privacy" type="ms-0200:Privacy"/>
    
    <xsd:complexType name="Privacy">
        <xsd:annotation>
            <xsd:documentation source="Description">Allows for control of the sharing of data between parties.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Privacy</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ShareMarketIndicator" type="ms-0200:YesNoInherit_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Permission for sharing information for marketing purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ShareSyncIndicator" type="ms-0200:YesNoInherit_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Permission for sharing data for synchonization of information held by other service providers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element abstract="true" name="CompanySubGrp" type="ms-0200:Company_ID">
        <xsd:annotation>
            <xsd:documentation source="Description">Information pertaining to a buisness unit.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Company</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CompanyID"
        substitutionGroup="ms-0200:CompanySubGrp" type="ms-0200:Company_ID"/>
    <xsd:element name="CompanyIdentifier" type="ms-0200:Company_ID"/>
    <xsd:element name="Company"
        substitutionGroup="ms-0200:CompanySubGrp" type="ms-0200:Company"/>
    <xsd:element name="CompanySummary" type="ms-0200:Company"/>
    <xsd:element name="CompanyDetail"
        substitutionGroup="ms-0200:CompanySubGrp" type="ms-0200:Company_Detail"/>
    
    <xsd:complexType name="Company_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Company</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="CompanyID" type="ms-0200:GUID">
                <xsd:annotation>
                    <xsd:documentation source="Description">A unique identifier for the company.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Company">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Company</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ms-0200:Company_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="1" name="CompanyName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the title or name of the company.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:Address">
                        <xsd:annotation>
                            <xsd:documentation source="Description">An address for the company.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:Phone">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The company&amp;apos;s phone number.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:ContactSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">A person related to the company.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="Description" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="Description">A description related to the company profile.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="WebsiteURL" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The URL to the company website.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="TimeZone" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The time zone for the company.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Company_Detail">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Company</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ms-0200:Company">
                <xsd:sequence>
                    <xsd:element minOccurs="0"
                        name="IndustryClassificationName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the industry segment for the company.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0"
                        name="IndustryClassificationCode" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Industry standard for classification (e.g. SIC, NAIC).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0"
                        name="IndustryClassificationStandard" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the standard in which the industry classification code is found (e.g. SIC, NAIC).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Detail"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="PortfolioHoldingCompany" type="ms-0200:PortfolioHoldingCompany"/>
    
    <xsd:complexType name="PortfolioHoldingCompany">
        <xsd:annotation>
            <xsd:documentation source="Description">A company that maintains multiple brands.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">PortfolioHoldingCompany</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="HoldingCompanyName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">The name of a company that owns one or more brands.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="HoldingCompanyID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">An identifier for the holding company.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:Brand">
                <xsd:annotation>
                    <xsd:documentation source="Description">A brand associated with the holding company.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ms-0200:Privacy">
                <xsd:annotation>
                    <xsd:documentation source="Description">Code of conduct for the guest upon entering a restaurant (masks, no pics, ect.)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ms-0200:CommunicationMethod">
                <xsd:annotation>
                    <xsd:documentation source="Description">Provides details for a specific form of communication.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ms-0200:TermsAndConditions">
                <xsd:annotation>
                    <xsd:documentation source="Description">Code of conduct for the guest upon entering a restaurant (masks, no pics, ect.)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Description" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">A textual description for the holding company.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="SignificantDate" type="ms-0200:SignificantDate"/>
    
    <xsd:complexType name="SignificantDate">
        <xsd:annotation>
            <xsd:documentation source="Description">Identifies dates that are related to the profile (e.g Birthday, Anniversay, Membership Anniversary, etc.)</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">SignificantDate</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Date" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the date related to the date type.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Description" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation source="Description">Comments related to the significant date.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="DateType" type="ms-0200:DateType_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the type of significant date (Birthday, Anniversary, etc.)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>
