TransactionalData/openapi/RTN_Resources_Transactions_TransactionsResource/v1_0_0/RTN_Codelist_2_0_0_Trim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.modeldev.restauranttechnologynetwork.com/models/v2"
    version="2.0.0"
    xmlns:ms-0200="http://www.modeldev.restauranttechnologynetwork.com/models/v2"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:annotation>
        <xsd:appinfo>
            <otm:Library>
                <otm:LibraryName>RTN_Codelist</otm:LibraryName>
                <otm:LibraryVersion>2.0.0</otm:LibraryVersion>
                <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                <otm:SourceFile>/RTN_Codelist_2_0_0.otm</otm:SourceFile>
                <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                <otm:CompileDate>2022-09-21T10:17:56.504-04:00</otm:CompileDate>
            </otm:Library>
        </xsd:appinfo>
    </xsd:annotation>
    
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v0" schemaLocation="built-ins/OTM_BuiltIns.xsd"/>
    <xsd:import
        namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
    
    <xsd:simpleType name="DaysOfWeek_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">An enumeration of the seven days of the week.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationClosed">DaysOfWeek_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Sunday"/>
            <xsd:enumeration value="Monday"/>
            <xsd:enumeration value="Tuesday"/>
            <xsd:enumeration value="Wednesday"/>
            <xsd:enumeration value="Thursday"/>
            <xsd:enumeration value="Friday"/>
            <xsd:enumeration value="Saturday"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="Status_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the state of an item or service, e.g. the restaurant is temporarily closed.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">Status_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0200:Status_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="Status_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the state of an item or service, e.g. the restaurant is temporarily closed.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">Status_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Open">
                <xsd:annotation>
                    <xsd:documentation source="Description">Open for business.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Permanently Closed">
                <xsd:annotation>
                    <xsd:documentation source="Description">Closed for business forever.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Temporarily Closed">
                <xsd:annotation>
                    <xsd:documentation source="Description">Closed for business for a period of time.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="AddressType_Enum">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">AddressType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0200:AddressType_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="AddressType_Enum_Base">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">AddressType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Business"/>
            <xsd:enumeration value="Personal"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="PhoneCapabilities_Enum">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">PhoneCapabilities_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0200:PhoneCapabilities_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="PhoneCapabilities_Enum_Base">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">PhoneCapabilities_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Multimedia"/>
            <xsd:enumeration value="Text"/>
            <xsd:enumeration value="TTY"/>
            <xsd:enumeration value="Voice"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="CommunicationMethod_Enum">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">CommunicationMethod_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0200:CommunicationMethod_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="CommunicationMethod_Enum_Base">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">CommunicationMethod_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Phone"/>
            <xsd:enumeration value="Email"/>
            <xsd:enumeration value="SMS"/>
            <xsd:enumeration value="WeChat"/>
            <xsd:enumeration value="Whats App"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="ThirdPartySystemType_Enum">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">ThirdPartySystemType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0200:ThirdPartySystemType_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="ThirdPartySystemType_Enum_Base">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">ThirdPartySystemType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Loyalty"/>
            <xsd:enumeration value="Reservation"/>
            <xsd:enumeration value="Kitchen production"/>
            <xsd:enumeration value="Delivery company"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="NameType_Enum">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">NameType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0200:NameType_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="NameType_Enum_Base">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">NameType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Alias"/>
            <xsd:enumeration value="Altername"/>
            <xsd:enumeration value="Former"/>
            <xsd:enumeration value="Nickname"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="VerificationCategory_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the type of verification that has been performed.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">VerificationCategory_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0200:VerificationCategory_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="VerificationCategory_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the type of verification that has been performed.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">VerificationCategory_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Age"/>
            <xsd:enumeration value="Vaccine"/>
            <xsd:enumeration value="Military"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="VerificationType_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Identifies the type of document used for verification.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">VerificationType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0200:VerificationType_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="VerificationType_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">Identifies the type of document used for verification.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">VerificationType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Passport"/>
            <xsd:enumeration value="Drivers license"/>
            <xsd:enumeration value="State ID"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="Pronoun_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">A list of prounouns that may be utilized by a person.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">Pronoun_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0200:Pronoun_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="Pronoun_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">A list of prounouns that may be utilized by a person.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">Pronoun_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="He/Him"/>
            <xsd:enumeration value="She/Her"/>
            <xsd:enumeration value="They/Them"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="OrderChannel_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Provides a list of systems for creating restaurant orders.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">OrderChannel_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0200:OrderChannel_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="OrderChannel_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">Provides a list of systems for creating restaurant orders.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">OrderChannel_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="In store"/>
            <xsd:enumeration value="Out of store"/>
            <xsd:enumeration value="Phone"/>
            <xsd:enumeration value="Mobile device"/>
            <xsd:enumeration value="Desk top"/>
            <xsd:enumeration value="Third party delivery"/>
            <xsd:enumeration value="First party delivery"/>
            <xsd:enumeration value="Kiosk"/>
            <xsd:enumeration value="Mobile kiosk"/>
            <xsd:enumeration value="Social ordering">
                <xsd:annotation>
                    <xsd:documentation source="Description">Sites such as facebook, google, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="PhoneType_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the type of phone (home, business, mobile).</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">PhoneType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0200:PhoneType_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="PhoneType_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the type of phone (home, business, mobile).</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">PhoneType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Home"/>
            <xsd:enumeration value="Business"/>
            <xsd:enumeration value="Mobile"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="DateType_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifes a type of date (birthday, anniversary, etc.)</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">DateType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0200:DateType_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="DateType_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifes a type of date (birthday, anniversary, etc.)</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">DateType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Birthday"/>
            <xsd:enumeration value="Anniversary"/>
            <xsd:enumeration value="Membership anniversary"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
</xsd:schema>
