TransactionalData/schemas/RTN_Codelist_1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.modeldev.restauranttechnologynetwork.com/models/v1"
    version="1.0.0"
    xmlns:ms-0100="http://www.modeldev.restauranttechnologynetwork.com/models/v1"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:annotation>
        <xsd:appinfo>
            <otm:Library>
                <otm:ProjectName>RTN_Transactions_FINAL.otp</otm:ProjectName>
                <otm:LibraryName>RTN_Codelist</otm:LibraryName>
                <otm:LibraryVersion>1.0.0</otm:LibraryVersion>
                <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                <otm:SourceFile>/RTN_Codelist_1_0_0.otm</otm:SourceFile>
                <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                <otm:CompileDate>2022-09-21T10:17:46.494-04:00</otm:CompileDate>
            </otm:Library>
        </xsd:appinfo>
    </xsd:annotation>
    
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v0" schemaLocation="built-ins/OTM_BuiltIns.xsd"/>
    <xsd:import
        namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
    
    <xsd:complexType name="AllergyInformation_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">A list of allergens.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">AllergyInformation_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0100:AllergyInformation_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="AllergyInformation_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">A list of allergens.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">AllergyInformation_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Gluten"/>
            <xsd:enumeration value="Nut"/>
            <xsd:enumeration value="Peanut"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="LifestyleChoices_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">A list of lifestyle choices (e.g. Vegan).</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">LifestyleChoices_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0100:LifestyleChoices_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="LifestyleChoices_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">A list of lifestyle choices (e.g. Vegan).</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">LifestyleChoices_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Halal"/>
            <xsd:enumeration value="Kosher"/>
            <xsd:enumeration value="Vegan"/>
            <xsd:enumeration value="Vegetarian"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="NutritionInformationType_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the details for the nutrition item being sent.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">NutritionInformationType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0100:NutritionInformationType_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="NutritionInformationType_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the details for the nutrition item being sent.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">NutritionInformationType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Calorie count"/>
            <xsd:enumeration value="Sodium"/>
            <xsd:enumeration value="Calories from fat"/>
            <xsd:enumeration value="Total fat"/>
            <xsd:enumeration value="Saturated fat"/>
            <xsd:enumeration value="Trans fat"/>
            <xsd:enumeration value="Cholesterol"/>
            <xsd:enumeration value="Total carbohydrates"/>
            <xsd:enumeration value="Dietary fiber"/>
            <xsd:enumeration value="Sugars"/>
            <xsd:enumeration value="Protein"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="UnitOfMeasure_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the unit of measure for an associated item.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">UnitOfMeasure_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0100:UnitOfMeasure_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="UnitOfMeasure_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the unit of measure for an associated item.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">UnitOfMeasure_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Calories"/>
            <xsd:enumeration value="Grams"/>
            <xsd:enumeration value="Milligrams"/>
            <xsd:enumeration value="Ounces"/>
            <xsd:enumeration value="Pounds"/>
            <xsd:enumeration value="Cups"/>
            <xsd:enumeration value="Pints"/>
            <xsd:enumeration value="Quarts"/>
            <xsd:enumeration value="Gallons"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="DaysOfWeek_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">An enumeration of the seven days of the week.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationClosed">DaysOfWeek_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Sunday"/>
            <xsd:enumeration value="Monday"/>
            <xsd:enumeration value="Tuesday"/>
            <xsd:enumeration value="Wednesday"/>
            <xsd:enumeration value="Thursday"/>
            <xsd:enumeration value="Friday"/>
            <xsd:enumeration value="Saturday"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="ValueType_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies whether a value is an amount or a percent.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationClosed">ValueType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Amount"/>
            <xsd:enumeration value="Percent"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="Action_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies an action to be taken.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationClosed">Action_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Add"/>
            <xsd:enumeration value="Remove"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="Contains_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies whether a product contains or is free from a related item.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">Contains_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0100:Contains_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="Contains_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies whether a product contains or is free from a related item.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">Contains_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Contains">
                <xsd:annotation>
                    <xsd:documentation source="Description">The product contains the item defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Free From">
                <xsd:annotation>
                    <xsd:documentation source="Description">The product is free from the item defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="Status_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the state of an item or service, e.g. the restaurant is temporarily closed.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">Status_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0100:Status_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="Status_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the state of an item or service, e.g. the restaurant is temporarily closed.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">Status_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Open">
                <xsd:annotation>
                    <xsd:documentation source="Description">Open for business.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Permanently Closed">
                <xsd:annotation>
                    <xsd:documentation source="Description">Closed for business forever.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Temporarily Closed">
                <xsd:annotation>
                    <xsd:documentation source="Description">Closed for business for a period of time.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="OrderStatus_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the status of the order (e.g. recieved, in progress, delivered).</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">OrderStatus_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ms-0100:OrderStatus_Enum_Base">
                <xsd:attribute name="extension" type="ota2:String_EnumExtension"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="OrderStatus_Enum_Base">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the status of the order (e.g. recieved, in progress, delivered).</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationOpen">OrderStatus_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Received"/>
            <xsd:enumeration value="In Progress"/>
            <xsd:enumeration value="Delivered"/>
            <xsd:enumeration value="Completed"/>
            <xsd:enumeration value="Other_"/>
        </xsd:restriction>
    </xsd:simpleType>
    
</xsd:schema>
